# Web Scraping
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3

# MongoDB
pymongo==4.6.1

# Utilities
python-dateutil==2.8.2
asyncio==3.8.1
aiohttp==3.8.1

# mongosh -u admin -p your_secure_password --authenticationDatabase admin
#show dbs
